.createInput {
  padding: 12px 25px;
  background-color: colors.$brightRed;
  border-radius: 5px;
  font-size: 20px;
  font-family: fonts.$body;
  color: colors.$white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-width: 0;

  @media (max-width: 650px) {
    padding: 8px 8px;
    font-size: 14px;
  }
  @media (max-height: 500px) {
    padding: 8px 15px;
    font-size: 14px;
  }
}
