@use "../themes/colors";
@use "../themes/fonts";

//Default Resolution : Laptop
// Laptop L : 1440 x 900 <---
// Tablet : 1080 x 810
// Mobile : 400 x 750
.page-body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  min-width: 400px;
  background-color: colors.$silverGray;
}

.page-body .back-button {
  position: fixed;
  top: 50px;
  left: 50px;
}

.wrapper {
  width: 500px;
  padding: 60px;
  border-radius: 5px;
  background-color: colors.$white;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
}

.wrapper header {
  font-size: 40px;
  font-weight: 500;
  font-family: fonts.$title;
  margin-bottom: 40px;
}

.wrapper header img {
  float: right;
  width: 60px;
  height: 60px;
}

.wrapper .errormsg {
  padding: 20px 20px 20px 20px;
  text-align: center;
  display: block;
  font-size: 16px;
  border: 3px solid colors.$brightRed;
  color: colors.$darkRed;
  margin-bottom: 30px;

  // Uncomment to hide the error msg
  // display: none;
}

.page-body form label {
  font-size: 20px;
  font-family: fonts.$title;
}

form input {
  border-radius: 5px;
  height: 50px;
  border: 1px solid colors.$silverGray;
  font-size: 20px;
  padding: 0 16px 0 16px;
  width: 100%;
  margin-bottom: 16px;
}

.page-body input:hover:not(.submit-signup-login-button) {
  padding: 0 14px 0 14px;
  border: 2px solid colors.$brightRed;
}

form .submit-signup-login-button input {
  border-radius: 5px;
  margin-top: 10px;
  background-color: colors.$brightRed;
  border-color: none;
  color: colors.$white;
  font-size: 22px;
}

.separator {
  height: 2px;
  margin-top: 7px;
  background-color: black;
}

.wrapper a:link {
  color: colors.$brightRed;
}
.wrapper a:visited {
  color: colors.$darkRed;
}

p {
  font-size: 16px;
}

// Tablet : 1080 x 810
@media (width<1080px) {
  .wrapper {
    width: 400px;
  }
  .wrapper header img {
    width: 50px;
    height: 50px;
  }

  .wrapper header {
    font-size: 38px;
  }
  form label {
    font-size: 17px;
  }
  form input {
    height: 40px;
    font-size: 16px;
    padding: 0 12px 0 12px;
    width: 100%;
    margin-bottom: 10px;
  }
  form .submit-button input {
    font-size: 20px;
  }
  .separator {
    height: 1px;
    margin-top: 5px;
  }
}

@media (width < 800px) {
  .page-body .back-button {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}
// Mobile : 400 x 750
@media (width < 500px) {
  .page-body {
    background-color: colors.$white;
  }

  .wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    box-shadow: none;
    top: 50px; //important
    overflow-inline: scroll;
  }
}

@media (width < 400px) {
  .page-body .back-button {
    width: 400px;
  }
  .wrapper {
    width: 400px;
  }
}
