@use "../themes/colors.scss";

.overviewContainer {
  width: 100%;
  height: max-content;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    white-space: nowrap;
    font-weight: 700;
    font-size: 20px;
    color: colors.$darkRed;
  }

  textarea {
    height: 100px;
  }

  .frequency {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;

    > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    input {
      float: right;
    }

    .radioInput {
      width: auto;
      height: 30px;
    }
  }
  @media (max-width: 1000px) {
    padding: 30px 40px;
  }
}
