@use "../themes/colors";

.meetingCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;

  // Default size
  width: 100%; //Relative to the width of the container
  max-width: 400px; // Max width for larger screen size
  margin: 12px auto;

  //For smaller screen size
  @media (width < 750px) {
    max-width: 90%;
  }
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-top: 4px;
    border-radius: 4px;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.card-status {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 7px;
  width: fit-content;
  color: colors.$white;

  &.upcoming {
    background-color: colors.$brightRed;
  }

  &.live {
    background-color: colors.$green;
  }

  &.closed {
    background-color: colors.$mediumGray;
  }
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .card-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: colors.$mediumGray;

    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
}
