@use "../themes/colors";

#navbar {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  #logo {
    height: 50px;

    @media (max-width: 650px) {
      width: 150px;
      height: auto;
    }
    @media (max-height: 500px) {
      height: 30px;
      width: auto;
    }
  }

  span {
    margin-right: 20px;
    font-size: 1rem;
    color: colors.$darkGray;
    margin-left: 1rem;
    @media (max-width: 650px) {
      font-size: 0.75rem;
    }
  }

  @media (max-width: 650px) {
    padding: 10px;
  }
}
