@use "../themes/colors";

#private-main {
  width: 100%;
  height: calc(90% - 125px);
}

body.no-scroll {
  overflow: hidden;
}

#privateSeparator {
  background-color: colors.$darkGray;
  color: colors.$white;
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding: 0 2rem;
}

#private-nav {
  margin-top: -10px;
  z-index: 1000;
}
#private-nav a {
  height: 100%;
  color: colors.$white;
  text-decoration: none;

  //added as tile
  padding: 15px 20px 16px 20px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#private-nav a:hover {
  background-color: colors.$brightRed;
  color: colors.$white;
}

#privateSeparator .nav-button {
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: colors.$white;
  font-size: 1.8rem;

  // hide both nav buttons
  visibility: hidden;
  opacity: 0;
}

#privateSeparator .nav-button:hover {
  color: colors.$brightRed;
}

@media (width < 1080px) {
  #privateSeparator .nav-button {
    visibility: visible;
    opacity: 1;
  }
  #privateSeparator #private-nav {
    position: fixed;
    top: -150%; //hidden at the start
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    background-color: colors.$darkGray;
    transition: transform 0.5s ease-in-out; //animation
  }

  #private-nav.responsive_nav {
    //slide down
    transform: translateY(160%);
  }

  #private-nav .nav-close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  #private-nav a {
    font-size: 1.5rem;

    //added
    width: 100%;
  }
}
@media (width < 1080px) and (height < 600px) {
  #private-nav.responsive_nav {
    //slide down
    transform: translateY(150%);
  }
}
