@use "../themes/colors";
@use "../themes/fonts";

.box-content {
  text-align: center;
  margin: 20px;
}

.box .box-image {
  max-width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 5%;
  margin-right: 60px;
  margin-left: -160px;
}

.box .box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.box .box-id {
  text-decoration: underline;
  margin-top: 10px;
  margin-left: -215px;
}

.box .inside {
  margin-left: -140px;
  text-align: left;
}

.box .name {
  font-family: fonts.$body;
  color: hsl(0, 0%, 20%);
  margin: 0 0 8px;
  margin-top: 13px;
}

.box .card-text {
  font-family: fonts.$body;
  color: hsl(0, 0%, 30%);
}

.box input {
  display: block;
  width: 100%;
  padding: 2px;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0px;

  @media (max-width: 1080px) {
    width: 70%;
  }

  @media (max-width: 800px) {
    width: 80%;
    padding: 3px;
  }

  @media (max-width: 400px) {
    width: 90%;
    padding: 2px;
  }
}

.non-editable-inputs {
  margin-top: 20px;
  text-align: left;
  max-width: 500px;
  margin-left: 105px;
  margin-right: auto;

  @media (max-width: 1080px) {
    margin-left: 50px;
    max-width: 400px;
  }

  @media (max-width: 800px) {
    margin-left: 15px;
    max-width: 300px;
  }

  @media (max-width: 400px) {
    margin-left: 15px;
    max-width: 200px;
  }
}

.sub-label {
  font-family: fonts.$body;
  color: hsl(0, 0%, 20%);
  margin-bottom: 4px;
}

.input-box,
.input-box-with-icon {
  display: block;
  width: 50%;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: colors.$silverGray;

  @media (max-width: 1080px) {
    width: 70%;
  }

  @media (max-width: 800px) {
    width: 80%;
    padding: 3px;
  }

  @media (max-width: 400px) {
    width: 90%;
    padding: 2px;
  }
}

.newpassedit {
  margin-left: 20px;
  box-sizing: border-box;
}

.box-input {
  display: flex;
  align-items: center;
  position: relative;

  .icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 25%;
    left: 224px;
    transform: translateY(-50%);
    display: block;
    cursor: pointer;

    &.editable {
      color: colors.$brightRed;
      left: 216px;

      @media (max-width: 1080px){
        left: 166px;
      }

      @media (max-width: 800px) {
        left:5px;
      }

      @media (max-width: 400px){
        left: 70px;
      }



    }


    @media (max-width: 1080px) {
      left: 254px;
      
    }
  
    @media (max-width: 800px) {
      width: 80%;
      padding: 3px;
      left: 104px;
    }
  
    @media (max-width: 400px) {
      width: 90%;
      padding: 2px;
      left: 159px;
      width: 16px;
      height: 16px;
    }
  }
}


.input-box-with-icon {
  padding-right: 40px;

  @media (max-width: 1080px) {
    padding-right: 35px;
  }

  @media (max-width: 800px) {
    padding-right: 30px;
  }

  @media (max-width: 400px) {
    padding-right: 25px;
  }
}

.edit-button,
.submit-button {
  padding: 10px 12px;
  width: 65px;
  height: 35px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: colors.$lightGray;
  color: #fff;

  @media (max-width: 1080px) {
    width: 60px;
    height: 35px;
    padding: 8px 10px;
    margin-right: auto;
  
  }

  @media (max-width: 800px) {
    width: 55px;
    height: 30px;
    padding: 6px 6px;
    margin-right: 95px;
    margin-left: 25px;
  }

  @media (max-width: 400px) {
    width: 50px;
    height: 25px;
    padding: 4px 6px;
    margin-right: 25px;
    margin-left: 20px;
  }
}

.edit-button {
  background-color: colors.$brightRed;
}

.non-editable {
  pointer-events: none;
}

.box {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 1000px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 43px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);

  @media (max-width: 1080px) {
    margin-left: 44px;
  }

  @media (max-width: 800px) {
    margin-left: 11px;
  }

  @media (max-width: 400px) {
    margin-left: 9px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 320px;
  margin-top: 20px;

  @media (max-width: 1080px) {
    margin-left: 10px;
    width: 100%;
  }


  @media (max-width: 800px) {
    margin-left: -15px;
    width: 100%;
  }


  @media (max-width: 400px) {
    margin-left: -5px;
    width: 100%;
  }
}



