#request {
  width: 100%;
  padding: 0 64px;
  display: flex;
  justify-content: space-between;

  .accordions {
    margin-right: 20px;
    width: 85%;
    > div {
      margin: 20px 0;
    }

    @media (max-width: 900px) {
      width: 100%;
      margin-right: 0;
    }
  }

  .filter-options {
    display: flex;
    flex-direction: column;
    gap: 10px; // Space between filter options
    margin-top: 20px;
    padding-top: 20px;
    max-width: 300px;

    /* Border for testing purposes */
    // border: 1px solid #ddd;
    // border-radius: 8px;
    // background-color: #f9f9f9;

    label {
      display: flex;
      align-items: center;
      gap: 8px;

      input[type="radio"] {
        margin: 0;
      }
    }

    @media (max-width: 900px) {
      flex-direction: row;
      order: -1;
    }

    // Narrower filter for smaller screens
    @media (max-width: 650px) {
      font-size: 12px;
      max-width: 150px;
    }

    @media(max-width: 450px) {
      font-size: 10px;
    }
  }

  @media (max-width: 900px) {
    flex-wrap: wrap;
  }

  @media (max-width: 800px) {
    padding: 0 2rem;
  }
}
