@use "../themes/colors";

.submitInput {
  font-size: 16px;
  height: 45px;
  width: 90px;
  font-weight: 700;
  color: colors.$white;
  background-color: colors.$brightRed;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
