@use "../themes/colors.scss";
@use "../themes/fonts.scss";

.timeSlot {
  background-color: colors.$silverGray;
  margin-left: -1px; 
  //margin-right: 1px;
  flex-shrink: 1px;
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-weight: 700;
  text-align: center;
  padding: 20px 1px;
  width: calc(33.333% - 16px); 
  white-space: nowrap;
  font-size: 14px;
  height: 20px; 
  border-radius: 10px;



  .fa-times-circle {
    color: colors.$brightRed;
    font-size: 14px;
    position: absolute; 
    transform: translateY(11%); 
    cursor: pointer;
    right: -1px; 
    top: -24.5%; 
  }
  span {
    flex-grow: 1;
    align-items: center;
   
  }
}


  